/* google-font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

body {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* width: 100vw; */
}

/* navbar */
.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    color: whitesmoke;
    padding: 20px;
}

.navbar h1 {
    font-size: 5vmin;
}

.navbar ul {
    list-style-type: none;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

.navbar a {
    text-decoration: none;
    color: whitesmoke;
}

.active-link a {
    text-decoration: 3px solid #B7245C underline;
    font-weight: bold;
    font-size: 3vmin;
}

.hidden-btn {
    position: absolute;
    background-color: transparent;
    /* border: 2px solid black; */
    display: flex;
    top: 0;
    width: 100%;
    justify-content: flex-end;
    display: none;
}

.hidden-btn img {
    margin: 25px 30px;
    max-width: 30px;

}

/* header */
header {
    width: 100%;
    height: 100vh;
    background-image: url('./img/header-bg.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

a {
    text-decoration: none;
}

.header-content {
    /* margin-bottom: 150px; */
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.header-content h1 {
    font-size: 7vmin;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 30px;
}

.line {
    width: 150px;
    height: 4px;
    background-color: #B7245C;
    border-radius: 5px;
    margin: 10px auto;
}

.learn-btn {
    background-color: #B7245C;
    color: whitesmoke;
    border-radius: 5px;
    padding: 10px 15px;
}

.events {
    width: 80%;
    margin: 60px auto;
}

.event-title {
    font-size: 4vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: rgb(64, 18, 107);
}

.event-card {
    margin-top: 6%;
    display: flex;
    justify-content: space-evenly;
}

.card {
    /* border: 2px solid #eee; */
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px auto; */
}

.event-img img {
    width: 100%;
    display: flex;
}

.card-title {
    padding: 5px;
}

.card-description {
    padding: 15px;
    text-align: center;
}

/* explore the world */
.explore {
    flex-basis: 100%;
    height: 100vh;
    background-image: url(./img/bg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 50px 0 50px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.explore-content {
    display: flex;
    width: 60vw;
    /* text-align: left; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: white;
}

.explore-content .line {
    margin-bottom: 30px;
}

.explore-content h1 {
    font-size: 10vmin;
    margin: 0 30px 0 30px;
    color: whitesmoke;
}

.explore-content p {
    margin: 10px;
}

/* tours */
.tours {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 60px;

}

.tours-description {
    width: 30vw;
    margin: 20px;
}

.image-gallery {
    width: 50vw;
    /* height:60vh; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content:center; */
}

.image-gallery img {
    margin: 10px;
    max-width: 270px;
}

.tours-description h1 {
    color: rgb(64, 18, 107);
    font-size: 13vmin;
    text-transform: capitalize;
}

.tours-description .line {
    margin: -1px;
}

.tours-description p {
    margin: 15px 15px 20px 0px;
    text-align: justify;
}

footer {
    width: 100%;
    height: 18vh;
    background-color: rgba(33, 5, 59, 0.778);
    color: whitesmoke;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

footer li {
    padding: 20px;
    font-size: large;
}

footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    text-decoration: none;
    font-style: italic;
}

@media only screen and (max-width:1200px) {
    .tours {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tours-description h1 {
        color: rgb(64, 18, 107);
        font-size: 8vmin;
        text-transform: capitalize;
    }

    .tours-description .line {
        margin: auto;
    }

    .tours-description {
        width: 80%;
        margin: 60px;
    }

    .tours-description p {
        margin: 15px 15px 20px 0px;
        text-align: justify;
    }

    .image-gallery {
        /* width: 100vw; */
        /* height:60vh; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* margin:60px; */
        justify-content: center;
        align-items: center;
        /* background-color: #eee; */
    }

    .image-gallery img {
        width: 100%;
    }
}

@media only screen and(max-width:950px) {
    .image-gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* flex-wrap: nowrap; */
    }

    .image-gallery img {
        max-width: 100%;
    }

    .nav-links ul {
        padding: 10px;
        margin: 0 20px;
    }
}

@media only screen and (max-width:800px) {
    .nav-links {
        display: none;
    }

    .hidden-btn {
        display: flex;
        justify-content: flex-end;
        align-items: first baseline;

    }

    .event-card {
        display: flex;
        flex-direction: column;

    }

    .card {
        margin: 20px auto;
    }

    .explore-content {
        width: 100%;
    }

    .image-gallery {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-gallery img {
        max-width: 300px;
    }

    footer ul {
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    footer {
        height: fit-content;
    }

    footer a {
        padding: 0 5px 10px 0;
    }
}